<div class="row">
  <div class="col-md-12">
    <app-card>
      <!--begin::Form-->
      <form class="form" novalidate="novalidate" [formGroup]="form" (ngSubmit)="salvar()" (keydown.enter)="salvar(); (false)">
        <div class="card-body">
          <input type="hidden" formControlName="usuarioCriacaoId">
          <input type="hidden" formControlName="usuarioAtualizacaoId">
          <input type="hidden" formControlName="dataCriacao">
          <input type="hidden" formControlName="dataAtualizacao">
          <div class="form-group row">
            <div class="col-lg-3">
              <label>{{ "MSG000017.descricao" | translate }}:</label>
              <input type="text" class="form-control" maxlength=100 [ngClass]="{'is-invalid': isControlInvalid('nome')}"
                formControlName="nome" [placeholder]="'MSG000017.descricao' | translate" autocomplete="off">
              <div *ngIf="isControlHasError('nome', 'required')" class="invalid-feedback">
                <p>{{ "MSG000073.descricao" | translate }}</p>
              </div>
              <div *ngIf="isControlHasError('nome', 'error')" class="invalid-feedback">
                <p>{{msgsError['nome']}}</p>
              </div>
            </div>
            <div class="col-lg-3">
              <label>{{ "MSG000220.descricao" | translate }}:</label>
              <input type="text" class="form-control" maxlength=100 [ngClass]="{'is-invalid': isControlInvalid('descricao')}"
                formControlName="descricao" [placeholder]="'MSG000220.descricao' | translate" autocomplete="off">
              <div *ngIf="isControlHasError('descricao', 'required')" class="invalid-feedback">
                <p>{{ "MSG000073.descricao" | translate }}</p>
              </div>
              <div *ngIf="isControlHasError('descricao', 'error')" class="invalid-feedback">
                <p>{{msgsError['descricao']}}</p>
              </div>
            </div>
          </div>
          <app-form *ngIf=registroAtual [model]=registroAtual></app-form>
        </div>
        <div class="card-footer bg-gray-100">
          <button type="reset" id="kt_reset" [attr.title]="'MSG000014.descricao' | translate"
            class="btn btn-secondary btn-secondary--icon" (click)=cancelar()><span>
              <i class="la la-close"></i>
              <span>{{ "MSG000014.descricao" | translate }}</span>
            </span></button>
        </div>
      </form>

    </app-card>
  </div>
</div>