<!--begin::Forgot-->
<div class="login-form login-signin">
    <div class="text-center mb-10 mb-lg-20">
        <h3 class="font-size-h1">{{ "MSG000007.descricao" | translate }}</h3>
        <p class="text-muted font-weight-bold">{{ "MSG000012.descricao" | translate }}</p>
    </div>
    <!--begin::Form-->
    <form class="form" novalidate="novalidate" id="kt_login_forgot_form" [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-group">
            <input [ngClass]="{'is-invalid': isControlInvalid('email')}" class="form-control form-control-solid h-auto py-5 px-6" type="email" formControlName="email"
                [placeholder]="'MSG000003.descricao' | translate" autocomplete="off" />
            <div *ngIf="isControlHasError('email', 'required')" class="invalid-feedback">
                <p>{{ "MSG000073.descricao" | translate }}</p>
            </div>
            <div *ngIf="isControlHasError('email', 'email')" class="invalid-feedback">
                <p>{{ "MSG000005.descricao" | translate }}</p>
            </div>
            <div *ngIf="isControlHasError('email', 'error')" class="invalid-feedback">
                <p>{{msgsError['email']}}</p>
            </div>
        </div>
        <div class="form-group d-flex flex-wrap flex-center">
            <!-- <button type="submit" id="kt_login_signin_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3">{{ "MSG000007.descricao" | translate }}</button> -->
            <button type="submit" id="kt_login_signin_submit" class="btn btn-primary font-weight-bold" [ngClass]="{'spinner spinner-white spinner-right': isLoader }">{{ "MSG000007.descricao" | translate }}</button>
            <a href="javascript:;" id="kt_login_forgot_cancel" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-4" routerLink="/auth/login">{{ "MSG000014.descricao" | translate }}</a>
        </div>
    </form>
    <!--end::Form-->
</div>
<!--end::Forgot-->