<div class="row">
  <div class="col-md-12">
    <app-card>
      <!--begin::Form-->
      <form class="form" novalidate="novalidate" [formGroup]="form" (ngSubmit)="salvar()">
        <div class="card-body">
          <input type="hidden" formControlName="usuarioCriacaoId">
          <input type="hidden" formControlName="usuarioAtualizacaoId">
          <input type="hidden" formControlName="dataCriacao">
          <input type="hidden" formControlName="dataAtualizacao">
          <div class="form-group row">
            <div class="col-lg-3">
              <label>{{ "MSG000017.descricao" | translate }}:</label>
              <input type="text" class="form-control" maxlength=100 [ngClass]="{'is-invalid': isControlInvalid('nome')}"
                formControlName="nome" [placeholder]="'MSG000017.descricao' | translate" autocomplete="off">
              <div *ngIf="isControlHasError('nome', 'required')" class="invalid-feedback">
                <p>{{ "MSG000073.descricao" | translate }}</p>
              </div>
              <div *ngIf="isControlHasError('nome', 'error')" class="invalid-feedback">
                <p>{{msgsError['nome']}}</p>
              </div>
            </div>
          </div>
          <app-form *ngIf=registroAtual [model]=registroAtual></app-form>
        </div>
        <!-- <div class="card-footer bg-gray-100">
          <button type="reset" id="kt_reset" [attr.title]="'MSG000014.descricao' | translate"
            class="btn btn-secondary btn-secondary--icon" (click)=cancelar()><span>
              <i class="la la-close"></i>
              <span>{{ "MSG000014.descricao" | translate }}</span>
            </span></button>
        </div> -->
      </form>

    </app-card>
  </div>
</div>
<br />

<ng-container *ngIf=id>
  <div class="row">
    <div class="col-md-12">
      <app-card isCollapsed=false icon="flaticon2-search" text='MSG000177.descricao' subtitle='MSG000178.descricao'>
        <form (keydown.enter)="filtroAvancado(); (false)" novalidate="novalidate" [formGroup]="formGrid">
          <div class="card-body">
            <div class="row mb-6">
              <div class="col-lg-3 mb-lg-0 mb-6">
                <label>{{ "MSG000221.descricao" | translate }}:</label>
                <input type="text" class="form-control datatable-input"
                  [placeholder]="'MSG000221.descricao' | translate" formControlName='nome'>
              </div>
              <div class="col-lg-3 mb-lg-0 mb-6">
                <label>{{ "MSG000220.descricao" | translate }}:</label>
                <input type="text" class="form-control datatable-input"
                  [placeholder]="'MSG000220.descricao' | translate" formControlName='descricao'>
              </div>
              <div class="col-lg-3 mb-lg-0 mb-6">
                <label>{{ "MSG000222.descricao" | translate }}:</label>
                <div class="radio-inline">
                  <label class="radio">
                    <input type="radio" formControlName="grupoId" [value]=0>
                    <span></span>{{ "MSG000166.descricao" | translate }}</label>
                  <label class="radio">
                    <input type="radio" formControlName="grupoId" [value]=id>
                    <span></span>{{ "MSG000212.descricao" | translate }}</label>
                  <label class="radio">
                    <input type="radio" formControlName="grupoId" [value]=-id>
                    <span></span>{{ "MSG000213.descricao" | translate }}</label>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer bg-gray-100 text-left">
            <div class="row">
              <div class="col-md-12">
                <button class="btn btn-primary btn-primary--icon" id="kt_search" (click)=filtroAvancado()>
                  <span>
                    <i class="la la-search"></i>
                    <span>{{ "MSG000176.descricao" | translate }}</span>
                  </span>
                </button>&nbsp;&nbsp;
                <button class="btn btn-secondary btn-secondary--icon" id="kt_reset" (click)=cancelar()>
                  <span>
                    <i class="la la-close"></i>
                    <span>{{ "MSG000014.descricao" | translate }}</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </form>
      </app-card>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <app-card icon="flaticon2-list" text='MSG000057.descricao' subtitle='MSG000219.descricao'>
        <div class="card-body">
          <app-grid *ngIf=grid [gridService]=grid></app-grid>
        </div>
      </app-card>
    </div>
  </div>

</ng-container>