<!-- Modal-->
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title"><span [innerHTML]="modal.title"></span></h5>
    <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Close">
      <i aria-hidden="true" class="ki ki-close"></i>
    </button>
  </div>
  <div class="modal-body">
    <span [innerHTML]="modal.conteudo"></span>
  </div>
  <div class="modal-footer">
    <button type="button" (click)="activeModal.dismiss()" class="btn btn-secondary" data-dismiss="modal">{{ "MSG000014.descricao" | translate }}</button>
    <button type="button" (click)="passBack('ok')" class="btn btn-primary">{{ "MSG000143.descricao" | translate }}</button>
  </div>
</div>
<!-- End modal  -->